.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 6.125rem;
  height: 1.938rem;
  border: 1px solid var(--light-grey);
  color: var(--medium-gray);
  background-color: var(--gray99);
  font-weight: 500;
  cursor: pointer;
}

.container a:first-child button {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.container a:last-child button {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.selected {
  border: solid 1px var(--primary);
  color: var(--primary);
}
