.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 6.125rem;
  height: 1.938rem;
  border: 1px solid #d6d6d6;
  color: #606060;
  background-color: #fcfcfc;
  font-weight: 500;
  cursor: pointer;
}

.container a:first-child button {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.container a:last-child button {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.selected {
  border: solid 1px #1797ff;
  color: #1797ff;
}
