.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(
    to bottom,
    var(--bright-gray) -32%,
    var(--white) 124%
  );
}

.title {
  display: inline-block;
  text-transform: uppercase;
  font-family: Baskerville;
  font-weight: normal;
  font-size: 1.75rem;
  color: var(--dark-gray);
}

@media only screen and (min-width: 768px) {
  .container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .title {
    padding: 1.5rem 0 0 8rem;
  }
}
